<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Calculator App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="title">
    <div class="toggle">
      <h3>calc</h3>
      <div class="right">
        <p id="one" (click)="setTheme(1)">1</p>
        <p id="two" (click)="setTheme(2)">2</p>
        <p id="three" (click)="setTheme(3)">3</p>
      </div>
    </div>
    <div class="control">
      <p>THEME</p>
      <div class="box">
        <div id="circle"></div>
      </div>
    </div>
  </div>
  <div class="screen">
    <form name="calc">
      <input type="text" readonly [value]="screenValue | customNumberFormat" id="screen">
    </form>
  </div>
  <div class="cal-body">
    <div class="btn">
      <button class="num" (click)="addToScreen('7')">7</button>
      <button class="num" (click)="addToScreen('8')">8</button>
      <button class="num" (click)="addToScreen('9')">9</button>
      <button class="del" (click)="deleteLast()">DEL</button>
      <button class="num" (click)="addToScreen('4')">4</button>
      <button class="num" (click)="addToScreen('5')">5</button>
      <button class="num" (click)="addToScreen('6')">6</button>
      <button (click)="addOperator('+')">+</button>
      <button class="num" (click)="addToScreen('1')">1</button>
      <button class="num" (click)="addToScreen('2')">2</button>
      <button class="num" (click)="addToScreen('3')">3</button>
      <button (click)="addOperator('-')">-</button> <!-- Call addOperator for operators -->
      <button (click)="addToScreen('.')">.</button>
      <button class="num" (click)="addToScreen('0')">0</button>
      <button (click)="addOperator('/')">/</button> <!-- Call addOperator for operators -->
      <button (click)="addOperator('*')">X</button>
      <button class="reset" (click)="resetScreen()">RESET</button>
      <button class="equal" (click)="evaluateExpression()">=</button>
    </div>

  </div>
</div>

<script src="app.component.ts"></script>
</body>
</html>
